body {
    background-color: var(--black);
    color: var(--white);
    padding: 20px;
}

h1,
h3,
.buttont-text {
    font-family: "Montserrat";
}

h2,
.intro,
p,
.legend {
    font-family: "Helvetica";
}

h1 {
    line-height: 86%;
    font-weight: 900;
    font-size: var(--h1);
}

h2 {
    font-size: var(--h2);
}

h3 {
    font-size: var(--h3);
}

p {
    font-size: var(--body-m);
}

.intro {
    font-size: var(--body-intro);
}

.legend {
    font-size: var(--body-legend);
}

h2,
h3,
.intro,
p,
.legend {
    line-height: 128%;
}

h2,
h3 {
    font-weight: bold;
}

.legend {
    font-weight: thin;
}

.btn-container {
    display: flex;
    justify-content: center;
}

button {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 190px;
    height: 48px;
    border-width: 4px;
    border-style: solid;
    background-color: var(--black);
    border-color: var(--white);
    color: var(--white);
}

button::after {
    content: "";
    position: absolute;
    width: 182px;
    height: 40px;
    border-width: 4px;
    border-style: solid;
    background-color: var(--blue);
    border-color: var(--white);
    top: -12px;
    right: -12px;
    z-index: -1;
}