body {
    margin-top: 80px;

}

/*Default images settings*/
img {
    max-width: 100%
}

/*Global line spacers*/
.line-spacer {
    border: none;
    border-top: 4px dashed var(--white);
    background-color: transparent;
    width: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
}

/*Photo frames*/
.photo-frame-content {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.photo-frame {
    width: 300px;
    margin-bottom: 50px;
    margin: auto;
}

.photo-frame::before {
    content: url(../../../public/img/icones/photo-frame.svg);
    position: absolute;
}