.header-container {
    margin-top: 10px;
    display: flex;
    gap: 70px;
    justify-content: center;
}

.header-logo {
    display: flex;
    gap: 20px;
}

hr {
    max-width: 100%;
    height: 5px;
    background-color: var(--white);
    border: none;
}


.header-cover {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

img {
    max-width: 100%
}

.cover-img {
    margin-top: 27px;
    margin-bottom: 10px;
    width: 320px;
    display: flex;
}

.line-spacer {
    border: none;
    border-top: 4px dashed var(--white);
    background-color: transparent;
    width: 200px;
    margin-top: 70px;
    margin-bottom: 70px;
}