.header-container {
    margin-top: -10px;
    display: flex;
    gap: 70px;
    justify-content: center;
}

.header-logo {
    display: flex;
    gap: 20px;
}

hr {
    max-width: 100%;
    height: 5px;
    background-color: var(--white);
    border: none;
}

img {
    max-width: 100%
}

.cover-img {
    margin-top: 27px;
    margin-bottom: 10px;
}