/*Header*/
.header-container {
    margin-top: 0px;
    display: flex;
    gap: 70px;
    justify-content: center;
    position: fixed;
    background-color: var(--black);
    width: 375px;
    top: 0px;
    left: 0;
    z-index: 20;
}

.header .header-logo {
    display: flex;
    gap: 20px;
}

/*Header line spacer*/
hr {
    max-width: 100%;
    height: 5px;
    background-color: var(--white);
    border: none;
}

/*Header cover image settings*/
.header-cover {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.cover-img {
    margin-top: 27px;
    margin-bottom: 30px;
    width: 320px;
    display: flex;
}