.artworks-container {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
}

.artworks-container::before {
    content: url(../../../public/img/icones/artworks-cross.svg);
    position: absolute;
    top: -30px;
    left: 0px;
}

.artworks-line-1 {
    display: flex;
    justify-content: space-between;
}

.artworks-line-2 {
    display: flex;
    justify-content: space-between;
}

.artworks-legend {
    text-align: center;
    line-height: 0px;
}

.artworks-img {
    width: 150px;
    height: 150px;
}