.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--black);
    place-content: center;
}

.header-menu-icone {
    display: flex;
    z-index: 10;
}

.noscroll,
.noscroll body {
    overflow: hidden;
}

.menu-title {
    text-align: center;
}

.menu-home {
    position: absolute;
    top: 220px;
    left: 160px;
}

.menu-presentation {
    position: absolute;
    top: 500px;
    left: 70px;
}

.menu-artists {
    position: absolute;
    top: 300px;
    left: 70px;
}

.menu-artworks {
    position: absolute;
    top: 350px;
    left: 50px;
}


.menu-infos {
    position: absolute;
    top: 400px;
    left: 115px;
}

.menu-contact {
    position: absolute;
    top: 450px;
    left: 50px;
}

.menu-component-1::before {
    content: url(../../../public/img/icones/menu-component-1.svg);
    position: absolute;
    top: 180px;
    left: 40px;
}

.menu-component-2 {
    content: url(../../../public/img/icones/menu-component-2.svg);
    position: absolute;
    top: 350px;
    left: 0px;
}

.menu-component-3 {
    content: url(../../../public/img/icones/menu-component-3.svg);
    position: absolute;
    top: 500px;
    left: 0px;
}