/*Spacing*/
.line-box {
    margin-top: 70px;
    margin-bottom: 50px;
}

/*Base*/
.line-component {
    display: flex;
    align-items: center;
    width: 375px;
    height: 8px;
    z-index: -1;
}

/*Red variant*/
.line-red {
    background-color: var(--red);
}

/*Blue variant*/
.line-blue {
    background-color: var(--blue);
}

/*Yellow variant*/
.line-yellow {
    background-color: var(--yellow);
}

/*Black cut*/
h2 {
    padding: 10px;
    display: inline-block;
    background-color: var(--black);
    z-index: 2;
}